<div class="container proj-detail">
  <div ng-show="project === 'bandmates'" class="row">
    <div class="col-md-4">
          <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/bandmates"><img class="workImg" src="/images/Screen%20Shot%202017-03-30%20at%203.55.36%20PM.png"></a>
    </div>
      <div class="col-sm-6">
          <h3 class="workheaderband">Bandmates</h3>
          <p class="bandmates">Bandmates is mobile app geared toward musician groups developed with the Ionic framework. Includes a messanger using Firebase's realtime-database, a group calendar, and the ability to store event location information from the Google Places API. Lastly, it provides an archive of shows for bands, including a user input based set-list log.</p><br>
          <a href="">View Github</a>

      </div>
  </div>

  <div ng-show="project === 'robot-battledome'" class="row">
    <div class="col-md-4">
          <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/robots/"><img class="workImg" src="/images/Screen%20Shot%202017-04-06%20at%2010.29.55%20AM.png"></a>
    </div>
    <div class="col-sm-6">
        <h3 class="workheaderrobot">Robot Battledome</h3>
        <p class="bandmates">Bandmates is mobile app geared toward musician groups developed with the Ionic framework. Includes a messanger using Firebase's realtime-database, a group calendar, and the ability to store event location information from the Google Places API. Lastly, it provides an archive of shows for bands, including a user input based set-list log.</p>
    </div>
  </div>
</div>
