<div class="container proj-detail">
  <div ng-show="project === 'bandmates'" class="row">
    <div class="col-md-2 col-md-offset-2">
          <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/bandmates"><img tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Click To Visit" class="workImg" src="/images/Screen%20Shot%202017-03-30%20at%203.55.36%20PM.png"></a>
    </div>
      <div class="col-sm-6">
          <h3 class="workheaderbandP">Bandmates</h3>
          <p class="bandmates">Bandmates is mobile app geared toward musician groups developed with the Ionic framework. Includes a messanger using Firebase's realtime-database, a group calendar, and the ability to store event location information from the Google Places API. Lastly, it provides an archive of shows for bands, including a user input based set-list log.</p><br>
          <a class="github" href="https://github.com/lukeschuyler/bandmates">View Github</a>
      </div>
  </div>

  <div ng-show="project === 'robot-battledome'" class="row">
    <div class="col-md-4">
          <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/robots/"><img tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Click to Visit" class="workImg" src="/images/Screen%20Shot%202017-04-06%20at%2010.29.55%20AM.png"></a>
    </div>
    <div class="col-sm-6">
        <h3 class="workheaderrobotP">Robot Battledome</h3>
        <p class="bandmates">Robot Battledome began as a school "mastery exercise" (quiz). Using jQuery and CSS Bootsrap, I went a bit haywire and created a single page 1 or 2 player battle game. It would have been a hit back in 1993. Instructions as you play...</p><br>
        <a class="github" href="https://github.com/lukeschuyler/robots">View Github</a>
    </div>
  </div>
</div>
