
  <div id="tech" class='technologies--content'>
    <div class="tech-row row">
      <div class="tech-icon">
        <img class="tech-img" src="../img/technologies/Javascript.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="JavaScript" />
      </div>
      <div class="tech-icon">
        <img tooltips class="tech-img node" src="../img/technologies/Angular.png"  tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="AngularJS" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="../img/technologies/Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
      </div>
      <div class="tech-icon">
        <img class="web tech-img" src="/img/technologies/HTML5.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="tech-icon">
        <img class="web tech-img" src="../img/technologies/CSS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Firebase.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Firebase" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Git.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Github.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="GitHub" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Materialize.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Materialize" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Moqups.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="moqups" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Node.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Nodejs" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/NPM.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="npm" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Postgres.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="postgres" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Sass.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Sass" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="../img/technologies/DrawIO.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="DrawIO" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Trello.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Trello" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/SQLite.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="SQLite" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Pug.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Pug" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Passport.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Passport" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Mongo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongo" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Mongoose.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongoose" />
      </div>
     <div class="tech-icon">
        <img class="bs-knex tech-img" src="/img/technologies/KnexJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="KnexJS" />
      </div>
     <div class="tech-icon">
        <img class="bs-knex tech-img" src="/img/technologies/BookshelfJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="BookshelfJS" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Chai.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Chai" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Mocha.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mocha" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Express.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Express" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Heroku.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Heroku" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/img/technologies/Bower.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bower" />
      </div>
    </div>
  </div>


<!-- 

  <div id="tech" class='technologies--content container'>
    <div class="row">
      <div class="col col-md-2 col-xs-4 tech-iconcol-xs-offset-1">
        <img tooltips class="tech-img node" src="/icons/1491508083_nodejs-new-pantone-black.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="NodeJS"/>
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508131_code-programming-javascript-software-develop-command-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Javascript"/>
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508138_angular.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="AngularJS" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-iconcol-xs-offset-1">
        <img class="tech-img" src="/icons/1491508148_code-programming-html-markup-develop-layout-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508200_ionic.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Ionic" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508232_icon_287.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-iconcol-xs-offset-1">
        <img class="tech-img" src="/icons/1491508272_Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508314_sql.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="PostgreSQL" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491508380_29.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Github" />
      </div>

      <div class="col col-md-2 col-xs-4 tech-iconcol-xs-offset-1">
        <img class="tech-img" src="/icons/1491513542_git-branch.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491513523_google_firebase.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Firebase" />
      </div>
      <div class="col col-md-2 col-xs-4 tech-icon">
        <img class="tech-img" src="/icons/1491509281_JQuery_logo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="jQuery" />
      </div>
      <div class="big col-md-2 col-xs-4 col-xs-offset-1 ">
        <img class="tech-img-big" src="/icons/technologies/npm.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="NPM" />
      </div>
     <!--  <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/rest.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Django REST Framework" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/js.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="JavaScript / ES6" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/jQuery.svg" tooltip-side="top" tooltip-show-trigger='mouseover'  tooltips tooltip-template="jQuery" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/materialize.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Materialize" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/NPM.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Node Package Manager" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Sass.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Sass" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/SQLite.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="SQLite3" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Trello.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Trello" />
      </div> -->
    </div>
  </div> -->
