
  <div id="tech" class='technologies--content container'>
    <div class="tech-row row">
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Javascript.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="JavaScript" />
      </div>
      <div class="tech-icon">
        <img tooltips class="tech-img node" src="/icons/Angular.png"  tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="AngularJS" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
      </div>
      <div class="tech-icon">
        <img class="web tech-img" src="/icons/HTML5.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="tech-icon">
        <img class="web tech-img" src="../icons/CSS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Firebase.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Firebase" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Git.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Github.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="GitHub" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Materialize.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Materialize" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Moqups.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="moqups" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Node.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Nodejs" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/NPM.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="npm" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Postgres.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="postgres" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Sass.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Sass" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="../icons/DrawIO.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="DrawIO" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Trello.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Trello" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/SQLite.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="SQLite" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/Pug.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Pug" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/Passport.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Passport" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/Mongo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongo" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/Mongoose.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mongoose" />
      </div>
     <div class="tech-icon">
        <img class="bs-knex tech-img" src="/icons/KnexJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="KnexJS" />
      </div>
     <div class="tech-icon">
        <img class="bs-knex tech-img" src="/icons/BookshelfJS.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="BookshelfJS" />
      </div>
     <div class="tech-icon">
        <img class="tech-img" src="/icons/Chai.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Chai" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Mocha.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Mocha" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Express.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Express" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Heroku.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Heroku" />
      </div>
      <div class="tech-icon">
        <img class="tech-img" src="/icons/Bower.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bower" />
      </div>
    </div>
  </div>
