

  <div id="tech" class='technologies--content container'>
    <div class="row">
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img tooltips class="tech-img node" src="/icons/1491508083_nodejs-new-pantone-black.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="NodeJS"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508131_code-programming-javascript-software-develop-command-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Javascript"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508138_angular.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="AngularJS" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508148_code-programming-html-markup-develop-layout-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508200_ionic.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Ionic" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508232_icon_287.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508272_Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508314_sql.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="PostgreSQL" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508380_29.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Github" />
      </div>

      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491513542_git-branch.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Git" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491513523_google_firebase.png" tooltip-side="top" tooltip-show-trigger'mouseover' tooltips tooltip-template="Firebase" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491509281_JQuery_logo.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="jQuery" />
      </div>
    <!--   <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/HTML5.svg" tooltip-side="top" tooltip-show-trigger'mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/rest.png" tooltip-side="top" tooltip-show-trigger='mouseover' ="Django REST Framework" tooltips tooltip-template="Django REST Framework" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/js.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="JavaScript ES6" tooltips tooltip-template="JavaScript / ES6" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/jQuery.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="jQuery" tooltips tooltip-template="jQuery" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/materialize.svg" tooltip-side="top" tooltip-show-trigger'mouseover' ="Materialize" tooltips tooltip-template="Materialize" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/NPM.svg" tooltip-side="top" tooltip-show-trigger'mouseover' ="Node.js Package Manager" tooltips tooltip-template="Node Package Manager" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Sass.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="Sass" tooltips tooltip-template="Sass" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/SQLite.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="SQLite3" tooltips tooltip-template="SQLite3" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Trello.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="Trello" tooltips tooltip-template="Trello" /> -->
      </div>
    </div>
  </div>
