	<div class="row">
    <div class="col-xs-4">
      <h3 class="workheaderrobot">Robot Battledome</h3>  
    </div>
    <div class="col-xs-4">
      <h3 class="workheaderband">Bandmates</h3>
    </div> 
  </div>

  <div class="row" id="work">
		<div class="col-xs-4">
			<a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/robots"><img class="workImg" src="/images/Screen%20Shot%202017-04-06%20at%2010.29.55%20AM.png"></a>
		</div>
    <div class="col-xs-4">
      <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/bandmates/#/tab/dash"><img class="bandMatesImg" src="/images/Screen%20Shot%202017-03-30%20at%203.55.36%20PM.png"></a>
    </div>
	</div>

  <div id="tech" class='technologies--content'>
    <div class="row">
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img tooltips class="tech-img node" src="/icons/1491508083_nodejs-new-pantone-black.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltip-template="NodeJS"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508131_code-programming-javascript-software-develop-command-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Javascript"/>
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508138_angular.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="AngularJS" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508148_code-programming-html-markup-develop-layout-language.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508200_ionic.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Ionic" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508232_icon_287.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="CSS3" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508272_Bootstrap.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Bootstrap" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508314_sql.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="PostgreSQL" />
      </div>
      <div class="col col-md-3 col-sm-4 tech-icon">
        <img class="tech-img" src="/icons/1491508380_29.png" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Github" />
      </div>
      
   <!--    <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Github.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Github" />
      </div> -->
      <!-- <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Grunt.svg" tooltip-side="top" tooltip-show-trigger'mouseover' tooltips tooltip-template="Grunt" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Handlebars.svg" tooltip-side="top" tooltip-show-trigger='mouseover' tooltips tooltip-template="Handlebars" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/HTML5.svg" tooltip-side="top" tooltip-show-trigger'mouseover' tooltips tooltip-template="HTML5" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/rest.png" tooltip-side="top" tooltip-show-trigger='mouseover' ="Django REST Framework" tooltips tooltip-template="Django REST Framework" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/js.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="JavaScript ES6" tooltips tooltip-template="JavaScript / ES6" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/jQuery.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="jQuery" tooltips tooltip-template="jQuery" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/materialize.svg" tooltip-side="top" tooltip-show-trigger'mouseover' ="Materialize" tooltips tooltip-template="Materialize" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/NPM.svg" tooltip-side="top" tooltip-show-trigger'mouseover' ="Node.js Package Manager" tooltips tooltip-template="Node Package Manager" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Sass.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="Sass" tooltips tooltip-template="Sass" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/SQLite.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="SQLite3" tooltips tooltip-template="SQLite3" />
      </div>
      <div class="col l3 col m3 col s4 offset-s1 tech-icon">
        <img class="tech-img" src="img/logo/Trello.svg" tooltip-side="top" tooltip-show-trigger='mouseover' ="Trello" tooltips tooltip-template="Trello" />
      </div> -->
    </div>
  </div>
