	<div class="row">
    <div class="col-xs-4">
      <h3 class="workheaderrobot">Robot Battledome</h3>  
    </div>
    <div class="col-xs-4">
      <h3 class="workheaderband">Bandmates</h3>
    </div> 
  </div>

  <div class="row" id="work">
		<div class="col-xs-4">
			<a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/robots"><img class="workImg" src="/images/Screen%20Shot%202017-04-06%20at%2010.29.55%20AM.png"></a>
		</div>
    <div class="col-xs-4">
      <a class="darken" class="animated workLink" href="https://lukeschuyler.github.io/bandmates/#/tab/dash"><img class="bandMatesImg" src="/images/Screen%20Shot%202017-03-30%20at%203.55.36%20PM.png"></a>
    </div>
	</div>
  <div id="tech" class='technologies--content container'>
          <div class="row">
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508083_nodejs-new-pantone-black.png" alt="AngularJS" data-position="top" data-tooltip="AngularJS" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508131_code-programming-javascript-software-develop-command-language.png" alt="Python" data-position="top" data-tooltip="Python"/>
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508138_angular.png" alt="Django" data-position="top" data-tooltip="Django" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508148_code-programming-html-markup-develop-layout-language.png" alt="Bootstrap" data-position="top" data-tooltip="Bootstrap" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508200_ionic.png" alt="Bower" data-position="top" data-tooltip="Bower" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508232_icon_287.png" alt="Browserify" data-position="top" data-tooltip="Browserify" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508272_Bootstrap.png" alt="CSS3" data-position="top" data-tooltip="CSS3" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508314_sql.png" alt="Firebase" data-position="top" data-tooltip="Firebase" />
            </div>
            <div class="col col-md-3 col-sm-4 col-sm-offset-1 tech-icon">
              <img class="tech-img tooltipped" src="/icons/1491508380_29.png" alt="Git" data-position="top" data-tooltip="Git" />
            </div>
         <!--    <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/Github.svg" alt="Github" data-position="top" data-tooltip="Github" />
            </div> -->
            <!-- <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/Grunt.svg" alt="Grunt" data-position="top" data-tooltip="Grunt" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/Handlebars.svg" alt="Handlebars" data-position="top" data-tooltip="Handlebars" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/HTML5.svg" alt="HTML5" data-position="top" data-tooltip="HTML5" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/rest.png" alt="Django REST Framework" data-position="top" data-tooltip="Django REST Framework" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/js.svg" alt="JavaScript ES6" data-position="top" data-tooltip="JavaScript / ES6" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/jQuery.svg" alt="jQuery" data-position="top" data-tooltip="jQuery" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/materialize.svg" alt="Materialize" data-position="top" data-tooltip="Materialize" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/NPM.svg" alt="Node.js Package Manager" data-position="top" data-tooltip="Node Package Manager" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/Sass.svg" alt="Sass" data-position="top" data-tooltip="Sass" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/SQLite.svg" alt="SQLite3" data-position="top" data-tooltip="SQLite3" />
            </div>
            <div class="col l3 col m3 col s4 offset-s1 tech-icon">
              <img class="tech-img tooltipped" src="img/logo/Trello.svg" alt="Trello" data-position="top" data-tooltip="Trello" />
            </div> -->
          </div>
        </div>
      </div>
