  <div class="center container">
     <div class="row">
      <div class="col work-header">Projects</div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <h3 class="workheaderrobot">Robot Battledome</h3>  
      </div>
      <div class="col-xs-4">
        <h3 class="workheaderband">Bandmates</h3>
      </div> 
    </div>
    <div class="row" id="work">
  		<div class="col-xs-4">
  			<a class="darken" class="animated workLink" href="#/work/robot-battledome"><img class="workImg" src="/images/Screen%20Shot%202017-04-06%20at%2010.29.55%20AM.png"></a>
  		</div>
      <div class="col-xs-4">
        <a class="darken" class="animated workLink" href="#/work/bandmates"><img class="bandMatesImg" src="/images/Screen%20Shot%202017-03-30%20at%203.55.36%20PM.png"></a>
      </div>
  	</div>
  </div>
