body {
	background-color: rgba(255, 0, 0,.8); 
	margin: 0;
	position: absolute;
}


/******** NAME BANNER /**********/

.name {
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
	font-size: 60px;
	letter-spacing: 1.1rem;
	text-shadow: 4px 4px rgba(0,0,0,.2);
	color: rgba(0,0,0, .61);
}

.banner {
	background: rgba(255,255,255,.8);
}

.work {
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo Bhaina', cursive;
	letter-spacing: 1.1rem;
	color: rgba(0,0,0, .61);
	text-shadow: 4px 4px rgba(0,0,0,.15);
}

.break1 {
	height: 50px;
}


/*NAVIGATION*/

.navbar {
	margin-bottom: 0;
	background: rgba(0,0,0, .5);
	border: none;
}

.invisible {
	margin-bottom: 0;
	background: rgba(0,0,0, .5);
	border: none;
	visibility: hidden;
}

/******** MY PICTURE AND ABOUT ME ********/


.blurb > p {
	line-height: 4rem;
	text-align: justify;
 	font-size: 1.75rem;
	font-family: 'Baloo Bhaina', cursive;
	color: rgba(255,255,255, .8);
}

.blurb-container {
	background: rgba(0,0,0,.6);
	padding: 5% 2% 2% 2%;
}
 
.pic-conatiner {
	width: 100%;
}

/*********** FOOTER **************/

.social-footer {
	height: 80px;
	background-color: rgba(0,0,0,.6);
	margin-top: 20px;
	padding-top: 10px;
}
